<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/" style="color: white;">
    <strong>
      <span style="color: white;">Chatterbox</span>
      <span style="color: #e96f1d;">Creations</span>
    </strong>
  </a>
</nav>