<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <main>
        <h3>Pick your avatar</h3>
        <form action="/" class="form" method="post">
          <input name="AVATAR_ID" type="number">
          <a href="/loadng" class="btn btn-primary float-right">READY</a>
        </form>
    </main>
  </body>
</html>