<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="container">
        <h1>Games</h1>
        <p>Here is our selection of games</p>
        <div class="container">
          <div class="card" style="width: 18rem;">
            <img src="jeopardy_logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jeopardy</h5>
              <p class="card-text">Test your general knowledge playing the hit game <em>Jeopardy!</em></p>
              <form action="" class="form" method="post">
                <button name="CHOSEN_GAME" value="jeopardy" class="btn btn-primary">Start Game</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>