<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <style>
        body {
            background-color: #0C1562; 
            color: #ffffff;
            font-family: 'Arial', sans-serif;
        }

        h3 {
            text-align: center;
            color: #e96f1d; 
            margin-top: 20px;
            font-weight: bold;
        }

        .container {
            padding: 20px;
        }

        /* Table Styling */
        .leaderboard-table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        .leaderboard-table thead {
            background-color: #e96f1d;
            color: #0C1562;
        }

        .leaderboard-table th, .leaderboard-table td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ffffff;
        }

        .leaderboard-table tbody tr:hover {
            background-color: #292952;
        }
    </style>
    <body class="container">
        <main>
            <h3>Leaderboard</h3>
            <table class="leaderboard-table">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<leaderboard.length; i++) { %>
                        <tr>
                            <td><%= leaderboard[i].name %></td>
                            <td><%= leaderboard[i].points %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="container" hidden>
                <form action="/jeopardy" class="form" method="post">
                  <button id="form_button" class="btn btn-primary float-right"></button>
                </form>
            </div>
        </main>
    </body>

    <script>
        function pressButton() {
          document.getElementById("form_button").click();
        }

        const myTimeout = setTimeout(pressButton, 3000);
      </script>
</html>