<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../partials/head'); %>
  </head>

  <body class="player_body">
    <main>
      <div class="container">
        <%- include('../partials/err'); %>
      </div>

      <div class="loading_container">
        <h1 class="loading_h1"><%= (game && game === 'Jeopardy') ? 'Jeopardy!' : (game ? game : 'xxxxx') %></h1>
        <h3 class="loading_h3">Please wait for your turn</h3>
      </div>

      <div hidden>
        <form action="/play" method="post">
          <button name="TURN_CHECK" id="form_button" value="true" class="btn btn-primary">Start Game</button>
        </form>
      </div>
    </main>
      
    <footer style="color: black;">
      <%- include('../partials/footer'); %>
    </footer>
  </body>

  <script>
      function pressButton() {
          document.getElementById("form_button").click();
      }

      setTimeout(pressButton, 1000);
  </script>
</html>
