<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <main>
        <h1><%= (game) ? game : 'xxxxx' %></h1>
        <h3>Please Wait for your turn</h3>
        <div class="container" hidden>
          <form action="/play" class="form" method="post">
            <button name="TURN_CHECK" id="form_button" value="true" class="btn btn-primary float-right">Start Game</button>
          </form>
        </div>
    </main>
  </body>

  <script>
    function pressButton() {
      document.getElementById("form_button").click();
    }

    const myTimeout = setTimeout(pressButton, 5000);
  </script>
</html>