<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <main>
      <div class="container">
        <%- include('../partials/err'); %>
      </div>
      <div class="container justify-content-center">
        <form action="/play" class="form" method="post">
          <div class="container form-group">
            <label for="room_code" class="h2">Room Code</label>
            <input name="ROOMCODE" type="number" class="form-control form-control-lg" id="room_code" placeholder="Enter Room Code">

            <label for="username" class="h2">Name</label>
            <input name="USERNAME" type="text" style="text-transform: uppercase" class="form-control form-control-lg" id="username">

            <button type="submit" class="btn btn-primary float-right">Submit</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>