<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <main>
      <div class="container justify-content-center">
        <form action="/play" class="form" method="post">
          <div class="container form-group">
            <button type="submit" name="NEW_GAME" class="btn btn-primary float-right" id="new">NEW GAME</button>

            <button type="submit" name="EXIT" class="btn btn-primary float-right" id="exit">EXIT</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>