<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body class="player_body">
    <main>
      <div class="container">
        <%- include('../partials/err'); %>
      </div>
      <div class="player_container justify-content-center">
        <form action="/play" class="form" method="post">
          <div class="form-group">
            <label for="room_code" class="label_title">Room Code</label>
            <input name="ROOMCODE" type="number" class="input" id="room_code" placeholder="Enter Room Code">
            
            <label for="username" class="label_title">Name</label>
            <input name="USERNAME" type="text" class="input" id="username" placeholder="Johnny">
            
            <button type="submit" class="button">
              <span class="button-text">PLAY</span>
            </button>
          </div>
        </form>
      </div>
    </main>

    <footer style="color: black; padding-top: 60px;">
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>