<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>

  <body class="container">
    <main>
        <h3>Jeopardy</h3>
        <div class="container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">MUSIC</th>
                    <th scope="col">ANIMALS</th>
                    <th scope="col">SPORTS</th>
                    <th scope="col">HISTORY</th>
                    <th scope="col">MOVIES</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i = 1; i < 6; i++) {%>
                    <tr>
                      <% for(let [key, value] of data) {%>
                        <% if (value.includes("$" + i + "00.00")) { %>
                            <td><%= "$" + i + "00" %></td>
                          <% } else { %>
                            <td>XXXX</td>
                        <% } %>
                      <% } %>
                    </tr>
                  <% } %>
                </tbody>
              </table>
        </div>
        <div class="container" hidden>
          <form action="/jeopardy" class="form" method="post">
            <button id="form_button" class="btn btn-primary float-right"></button>
          </form>
        </div>
    </main>
  </body>

  <script>
    function pressButton() {
      document.getElementById("form_button").click();
    }

    const myTimeout = setTimeout(pressButton, 1000);
  </script>
</html>