<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
  <body class="container">
    <main>
        <h3>Choose a category</h3>
        <form action="/join" class="form" method="post">
          <input name="CATEGORY" type="text">
          <button type="submit" class="btn btn-primary float-right">READY</button>
        </form>
    </main>
  </body>
</html>