<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>

  <body class="container">
    <main>
        <h3>Player Answer:</h3>
        <h1><%= (data.Player) ? data.Player : 'xxxxx' %></h1>
        <h3>Correct Answer:</h3>
        <h1><%= (data.Correct) ? data.Correct : 'xxxxx' %></h1>
        <div class="container" hidden>
          <a id="form_button" href="/leaderboard" class="btn btn-primary float-right"></a>
        </div>
    </main>
  </body>

  <script>
    function pressButton() {
      document.getElementById("form_button").click();
    }

    const myTimeout = setTimeout(pressButton, 3000);
  </script>
</html>