<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>

  <body class="player_body">
    <main>
      <div class="player_container">
        <h1 class="answer_title">Your Turn!</h1>
        <h5 class="answer_title" id="timer">10</h5>

        <p class="subtitle">Tap the button to speak</p>
        <div class="microphoneButton" onclick="startSpeechRecognition()">
          <img class="microphoneIcon" id="microphoneButton" src="microphone.png" alt="Microphone Icon" />
        </div>

        <form action="/play" class="form" method="post">
          <input name="RESPONSE" id="response_input" type="text" hidden>
          <button type="submit" id="player_response" class="btn btn-primary float-right" hidden>READY</button>
        </form>
      </div>
    </main>
  </body>

  <script>

    // Countdown
    let interval;
    const countdownDuration = 10;
    const countdownElement = document.getElementById("timer");

    function updateCountdown(curr_time) {
      countdownElement.textContent = curr_time;
    }

    function startCountdown() {
      let countdownTime = countdownDuration;

      interval = setInterval(() => {
        countdownTime--;
        if (countdownTime < 0) {
          updateCountdown("Time's up!");
        } else {
          updateCountdown(countdownTime);
        }

        if (countdownTime === 0) {
          countdownElement.textContent = "Time's up!";
          document.getElementById('response_input').value = "None";
          document.getElementById("player_response").click();
        }
      }, 1000);
    }

    function startSpeechRecognition() {
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();

        recognition.onstart = () => {
            console.log('Listening...');
        };

        recognition.onresult = (event) => {
            const transcript = event.results[0][0].transcript;
            document.getElementById('response_input').value = transcript;
            document.getElementById("player_response").click();
            if (interval) {
              clearInterval(interval);
            }
        };

        recognition.start();
    }

    window.onload = startCountdown;
  </script>
</html>