<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>

  <body class="container">
    <main>
        <h3>Question:</h3>
        <h1><%= (data) ? data : 'xxxxx' %></h1>
        <div class="container" hidden>
          <form action="/jeopardy/check_response_submitted" class="form" method="post">
            <button name="CHECK_RESPONSE" id="form_button" value="true" class="btn btn-primary float-right">Start Game</button>
          </form>
        </div>
    </main>
  </body>

  <script>
    function pressButton() {
      document.getElementById("form_button").click();
    }

    const myTimeout = setTimeout(pressButton, 10000);
  </script>
</html>