<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>
    <style>
      body {
      background-color: #0C1562; 
      color: #ffffff;
      font-family: 'Arial', sans-serif;
    }
    
    .header, .footer {
      background-color: #0C1562; 
      padding: 10px 0;
      text-align: center;
    }
    
    .main {
      text-align: center;
    }

    h3 {
    text-align: center;
    color: #e96f1d; 
    margin-top: 20px;
    font-weight: bold;
    }

    h1 {
    text-align: center;
    color: #e96f1d; 
    margin-top: 20px;
    font-weight: bold;
    }
    </style>
  <body class="container">
    <main>
        <h3>Question:</h3>
        <h1><%= (data) ? data : 'xxxxx' %></h1>
        <div class="container" hidden>
          <form action="/jeopardy" class="form" method="post">
            <button id="form_button" class="btn btn-primary float-right"></button>
          </form>
        </div>
    </main>
  </body>

  <script>
    function pressButton() {
      document.getElementById("form_button").click();
    }

    const myTimeout = setTimeout(pressButton, 500);
  </script>
</html>